// Colors
$Purple: #563AD6;
$Aqua: #3ABAD6;
$Navy: #02044A;
$White: #fff;
$Sofpur: #EAEAF4;
$Darpur: #777790;
$Medpur: #B4B5C9;
$Lilpur: #F9F9FB;
$Newpur: #9B9CB7;
$Darken: rgb(20, 157, 248);
$Black: #333;